body{
    margin: 0;
    font-size: 15px;
    font-family: sans-serif;
    background-color: rgba(176, 176, 200, 0.448);
}

.topnav {
  overflow: hidden;
  background: linear-gradient(to right,#960083,#ff0000);
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 5px solid #7e7e7e;
}
.topnav h1{
    float: right;
    margin: 4px 150px 0 0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: black;
}

.topnav .icon {
  display: none;
}

.mapel {
    margin: auto;
    padding: 20px;
}
.mapel a img{
    width: 130pt;
    height: 160pt;
    margin: 50pt 80pt 30pt 110pt;
}
.kotak{
    background: linear-gradient(to left,hsl(123, 100%, 50%),#079726);
    color: #fff;
    padding-top: 5px;
    min-height: 10px;
    border-bottom: 1px solid red;
    border-top: 10px solid rgba(58, 58, 58, 0.2);
  }
.kotak h1{
    text-align: center;
}

.button {
  text-align: center;
  height: 38px;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color:#fff;
}
#bum {
  display: none;
}
footer {
    padding: 20px;
    margin-top: 20px;
    color:#fff;
    background: linear-gradient(to right,#960083,#ff0000);
    text-align: center;
    
}

/*Media Query*/
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}
/*Media Query*/
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
   position: absolute;
   right: 0;
     top: 0;
   }
   .topnav.responsive a {
     float: none;
     display: block;
     text-align: left;
   }
    .mapel a img{
      margin: 0 14pt 10pt 14pt;
      width: 50pt;
      height: 80pt;
      margin-left: 30px;
    }
  }
